:root{     
    --branco: #FFFFFF;
    --azul-claro: #007aff;
    --azul-escuro: #00043e;
    --cinza: #303030;
    --cinza-claro: #818181;
}


@media (max-width: 1080px) {
    html {
      font-size: 93.75%; /*15px*/
    }
  }
  

@media (max-width: 720px) {
    html {
      font-size: 87.5%; /*14px*/
    }
  }
/* Marcelo Chaves */
.topo{
    background-color: var(--azul-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.topo .large-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    align-items: flex-start;
    padding-top: 1.5rem;

}

.secaoDestaque .secaoDestaqueFormulario{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 2.75rem;
    justify-content: center;
    margin-bottom: 50px;
}

.secaoDestaque .secaoDestaqueFormulario input{
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 70%;
    padding-left: 12px;
}

.secaoDestaque .secaoDestaqueFormulario button{
    border:0;
    background-color: var(--azul-claro);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: var(--branco);
    width: 30%;
    font-size: 1rem;
}

figcaption{
    display: none;
}

body{
    font-family: 'Lato',sans-serif;
    align-items: center;
}


nav{
    display: none;
}

h2{
    font-family: 'Montserrat',sans-serif;
}

.secaoSobre .flex-col img{
    margin: 0 auto;
    height: 140px;
    width: 140px;
    object-fit: cover;
}

.large-container img{
    width: 84px;
    height: 84px;
}

.large-container .botao-menu img{
    width: 34px;
    height: 34px;
}

nav li{
    font-size: 13px;
}

.secaoDestaque {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 92%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.secaoDestaque h2{
    margin: 1rem auto;
    color: var(--branco);
    font-size: 2.50rem;
}

.secaoDestaque p{
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: var(--branco);
}

.secaoDestaqueFormulario button{
    font-size: 0.75rem;
}

.inicial{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicial .content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.secaoSobre .flex-col {
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.flex-col img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

#title{
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-col figure{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.secaoSobre .flex-col ul{
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    justify-content: center;
    list-style: disc;
    width: 62%;
    text-align: start;
}

.flex-col li{
    margin-bottom: 10px;
}

.secaoCursos p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-col p{
    margin-bottom: 30px;
    margin-top: 30px;
}

.secaoSobre .flex-col button{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;
    padding: 5px;
    width: 50%;
    background-color: var(--branco);
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-col span{
    margin-bottom: 30px;
}

.secaoContato .secaoContato-informacoes {
    display: flex;
    width: 230px;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.secaoContato .secaoContato-informacoes p{
    width: 220px;
}

.secaoContato .secaoContato-informacoes ul {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr 1fr 1fr;
}

.secaoContato .secaoContato-informacoes ul img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20px;
    height: 20px;
}

.secaoContato .secaoContato-informacoes a {
    display: flex;
    flex-direction: column;
}

.secaoContato .flex-col .form-input-model{
    width: 100%;
    margin-bottom: 10px;
}

.secaoContato .flex-col .form-input-model .mensagem{
    width: 112%;
}

.secaoContato .flex-col .form-input-model label{
    display: none;
}

.flex-col h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.secaoContato .flex-col input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secaoContato .flex-col h2 {
    display: flex;
    align-items: center;
}

.flex-col .send{
    width: 186px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-col button.botao {
    width: 30%;
    margin-right: 30px;
}

footer {
    display: none;
}
